Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Cannot resolve 'file' or 'directory' D:\Sandbox\Tribe\Web\Tribe.Web.React\app\index.html in D:\Sandbox\Tribe\Web\Tribe.Web.React:
  Error: Cannot resolve 'file' or 'directory' D:\Sandbox\Tribe\Web\Tribe.Web.React\app\index.html in D:\Sandbox\Tribe\Web\Tribe.Web.React
  
  - compiler.js:76 
    [Tribe.Web.React]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:214 Compiler.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compiler.js:214:10
  
  - Compiler.js:403 
    [Tribe.Web.React]/[webpack]/lib/Compiler.js:403:12
  
  - Tapable.js:67 Compiler.next
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:67:11
  
  - CachePlugin.js:40 Compiler.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/CachePlugin.js:40:4
  
  - Tapable.js:71 Compiler.applyPluginsAsync
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:71:13
  
  - Compiler.js:400 Compiler.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compiler.js:400:9
  
  - Compilation.js:577 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:577:13
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:572 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:572:10
  
  - Tapable.js:67 Compilation.next
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:67:11
  
  - UglifyJsPlugin.js:140 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/optimize/UglifyJsPlugin.js:140:4
  
  - Tapable.js:71 Compilation.applyPluginsAsync
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:71:13
  
  - Compilation.js:567 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:567:9
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:563 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:563:8
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:525 Compilation.seal
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:525:7
  
  - Compiler.js:397 Compiler.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compiler.js:397:15
  
  - Tapable.js:103 
    [Tribe.Web.React]/[webpack]/[tapable]/lib/Tapable.js:103:11
  
  - Compilation.js:445 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:445:10
  
  - Compilation.js:344 Compilation.errorAndCallback
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:344:3
  
  - Compilation.js:358 Compilation.<anonymous>
    [Tribe.Web.React]/[webpack]/lib/Compilation.js:358:11
  
  - NormalModuleFactory.js:29 onDoneResolving
    [Tribe.Web.React]/[webpack]/lib/NormalModuleFactory.js:29:20
  
  - NormalModuleFactory.js:85 
    [Tribe.Web.React]/[webpack]/lib/NormalModuleFactory.js:85:20
  
  - async.js:726 
    [Tribe.Web.React]/[webpack]/[async]/lib/async.js:726:13
  
  - async.js:52 
    [Tribe.Web.React]/[webpack]/[async]/lib/async.js:52:16
  
  - async.js:241 done
    [Tribe.Web.React]/[webpack]/[async]/lib/async.js:241:17
  
  - async.js:44 
    [Tribe.Web.React]/[webpack]/[async]/lib/async.js:44:16
  
  - async.js:723 
    [Tribe.Web.React]/[webpack]/[async]/lib/async.js:723:17
  
</pre><script type="text/javascript" src="module.organisation.js"></script>