﻿@using Tribe.Web.App.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    <h2 class="form-signin-heading">Please sign in</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address", required="required", autofocus= "autofocus" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Password", required= "required" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </div>
    <p>
        @Html.ActionLink("Forgot password?", "ForgotPassword")
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
}