﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/ico/favicon.ico">
    <title>Tribe</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/dashboard.css" rel="stylesheet">
    <link href="~/Content/css/navbar-top-fixed.css" rel="stylesheet">
    @RenderSection("head", required: false)
</head>
<body>
   
    <nav class="navbar navbar-static-top navbar-light bg-faded pos-f-t">
        <div class="collapse" id="navbar-header">
            <div class="container-fluid p-1">
                <h3>Collapsed content</h3>
                <p>Toggleable via the navbar brand.</p>
            </div>
        </div>
        <a href="#" class="navbar-brand">Tribe</a>
        <ul class="nav navbar-nav float-sm-right">
            <li class="nav-item">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    
    <script>window.jQuery || document.write('<script src="/Content/js/vendor/jquery-3.0.0.min.js"><\/script>')</script>
    <script src="~/Content/js/vendor/tether.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/js/vendor/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
