﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/ico/favicon.ico">
    <title>Tribe</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <ink href="~/Content/css/signin.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        @RenderBody()

    </div> 
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="~/Content/js/vendor/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
